<h1>Data das próximas provas</h1>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Prova</th>
      <th>Data</th>
      <th>Média Necessária</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Linguagens</td>
      <td>06/02/2021</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Matématica</td>
      <td>09/02/2021</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Ciencias Sociais</td>
      <td>20/02/2021</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Física</td>
      <td>11/02/2021</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Química</td>
      <td>15/02/2021</td>
      <td>5</td>
    </tr>
  </tbody>
  </table>
