<div class="text-center">
  <h1 class="btn-primary">PROVA!</h1>
</div>
<h3>Nome:</h3>
<input type="text">
<h3>Data:</h3>
<input type="datetime-local">
<br />
<br />
<div>
  <p>Esta prova tem o intuito de testar a capacitade lógica e de assuntos gerais de senso comum.</p>
</div>

<div>
  <p><strong>Questão 1-</strong></p>
  <p>(Peso 1)</p>
  <h4>Qual a cor do cavalo branco de napoleão?</h4>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione a alternativa correta.</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Amarelo</option>
      <option>Vermelho</option>
      <option>Azul</option>
      <option>Branco</option>
      <option>Roxo</option>
    </select>
  </div>
</div>

<div>
  <p><strong>Questão 2-</strong></p>
  <p>(Peso 1)</p>
  <h4>Existem quantas maravilhas do mundo?</h4>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione a alternativa correta.</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>4</option>
      <option>6</option>
      <option>7</option>
      <option>3</option>
    </select>
  </div>
</div>

<div>
  <p><strong>Questão 3-</strong></p>
  <p>(Peso 1)</p>
  <h4>Qual é o maior mámifero do mundo?</h4>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione a alternativa correta.</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Elefante</option>
      <option>Baleia</option>
      <option>Alce</option>
      <option>Rinoceronte</option>
      <option>Coalha</option>
    </select>
  </div>
</div>

<div>
  <p><strong>Questão 4-</strong></p>
  <p>(Peso 1)</p>
  <h4>Quanto tempo a luz do Sol demora para chegar à Terra?</h4>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione a alternativa correta.</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>12 minutos</option>
      <option>1 dia</option>
      <option>12 horas</option>
      <option>8 minutos</option>
      <option>segundos</option>
    </select>
  </div>
</div>

<div>
  <p><strong>Questão 5-</strong></p>
  <p>(Peso 1)</p>
  <h4>Normalmente, quantos litros de sangue uma pessoa tem? Em média, quantos são retirados numa doação de sangue?</h4>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione a alternativa correta.</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Tem entre 2 a 4 litros. São retirados 450 mililitros</option>
      <option>Tem entre 4 a 6 litros. São retirados 450 mililitros</option>
      <option>Tem 10 litros. São retirados 2 litros</option>
      <option>Tem 7 litros. São retirados 1,5 litros</option>
      <option>Tem 0,5 litros. São retirados 0,5 litros</option>
    </select>
  </div>
</div>

<div>
  <p><strong>Questão 6-</strong></p>
  <p>(Peso 1)</p>
  <h4>De quem é a famosa frase “Penso, logo existo”?</h4>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione a alternativa correta.</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Platão</option>
      <option>Galileu Galilei</option>
      <option>Descartes</option>
      <option>Sócrates</option>
      <option>Francis Bacon</option>
    </select>
  </div>
</div>

<div>
  <p><strong>Questão 7-</strong></p>
  <p>(Peso 1)</p>
  <h4>Qual o livro mais vendido no mundo a seguir à Bíblia?</h4>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione a alternativa correta.</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>O Senhor dos Anéis</option>
      <option>Dom Quixote</option>
      <option>O Pequeno Príncipe</option>
      <option>Ela, a Feiticeira</option>
      <option>Um Conto de Duas Cidades</option>
    </select>
  </div>
</div>

<div>
  <p><strong>Questão 8-</strong></p>
  <p>(Peso 1)</p>
  <h4>Qual a montanha mais alta do Brasil?</h4>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione a alternativa correta.</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Pico da Neblina</option>
      <option>Pico Paraná</option>
      <option>Pico Maior de Friburgo</option>
      <option>Pico da Bandeira</option>
      <option>Monte Roraima</option>
    </select>
  </div>
</div>

<div>
  <p><strong>Questão 9-</strong></p>
  <p>(Peso 1)</p>
  <h4>Quais as duas datas que são comemoradas em novembro?</h4>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione a alternativa correta.</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Independência do Brasil e Dia da Bandeira</option>
      <option>Proclamação da República e Dia Nacional da Consciência Negra</option>
      <option>Dia de Finados e Dia Nacional do Livro</option>
      <option>Dia do Médico e Dia de São Lucas</option>
      <option>Black Friday e Dia da Árvore </option>
    </select>
  </div>
</div>

<div>
  <p><strong>Questão 10-</strong></p>
  <p>(Peso 1)</p>
  <h4>Qual a nacionalidade de Che Guevara?</h4>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione a alternativa correta.</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Cubana</option>
      <option>Peruana</option>
      <option>Panamenha</option>
      <option>Boliviana</option>
      <option>Argentina</option>
    </select>
  </div>
</div>


<div class="row justify-content-center">

  <div class="col-4">
    <button type="button" class="btn btn-danger float-left">Cadastrar</button>
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-dark float-right" [routerLink]="['/fetch-data']">Verificar</button>
  </div>
  </div>

<div class="text-center">
  <button type="button" class="btn btn-info float" [routerLink]="['/counter']">Data das Próximas Provas</button>
</div>


  <br />
  <br />
  <br />







